:root{
  --bgCol:black;
}
body {
    background-color: var(--bgCol);
  }
  div#main {
    background-color: inherit;
    height: 100vh;
    display: grid;
    grid-template-columns: 100px 100px;
    position: absolute;
    top: 0;
    left: 0;
  }
  #set{
    animation: slide3 1s;
    position:absolute;
    left:-100px;
    z-index: 3;
  }

  #settings{
    width:100px;
    background-color: inherit;
    display: grid;
    grid-template-rows: repeat(8,100px);
    animation: slide1 1s;
  }
  #settings > .a{
    animation: slide1 1s;
    background-color: inherit;
    visibility: visible;
    vertical-align: middle;
    /* text-align: center; */
  }
  #settings:hover > .a{
    animation: slide 1s;
    background-color: inherit;
  }
  #settings:hover > #set{
    animation: slide2 1s alternate;
    position: absolute;
    left:0px;
  }

  #settings:hover{
    width:200px;
    background-color: var(--bgCol);
    z-index: 1;
    color:white;
    animation: slide 1s;
  }

  canvas {
    background-color: var(--bgCol);
    position: absolute;
    left:100px;
    opacity: 1;
  }
  .a1 > img{
    position: absolute;
    left:20px;
    top:215px;
  }
  #lineWidth{
    visibility: hidden;
    position: absolute;
    left: 25px;
    top: 225px;
    height: 50px;
    width: 100px;
  }
  .a2 > img{
    position: absolute;
    left:20px;
    top:315px;
  }
  .radio{
    visibility: hidden;
    position: absolute;
    left: 25px;
    top: 325px;
    height: 100px;
    width: 200px;
  }
  .a3 > img{
    position: absolute;
    left:20px;
    top:415px;
  }
  #cap{
    visibility: hidden;
    position: absolute;
    left: 25px;
    top: 425px;
    height: 50px;
    width: 100px;
  }
  .a4 > img{
    position: absolute;
    left:20px;
    top:515px;
  }
  .a5 > img{
    position: absolute;
    left:20px;
    top:615px;
  }
  .icon:hover{
    opacity: 0.6;
  }

  @keyframes slide{
    from {width:100px;}
    to {width:200px;}
  }
  @keyframes slide1{
    from {width:200px;}
    to {width:100px;}
  }
  @keyframes slide2{
    0%{
      left: -100px;
    }
    100%{
      left:0px;
      transform: rotateZ(180deg);
    }
  }
  @keyframes slide3{
    0%{
      left:0px;
      transform: rotateZ(180deg);
    }
    100%{
      left:-100px;
      transform: rotateZ(-180deg);
    }
  }
